{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>connectMe</title>
    <link rel="stylesheet" href="{% static 'forgetPassword.css' %}" />
  </head>

  <body>
    <div id="customAlert" class="hidden alert"></div>
    <div class="container">
      <h3>Reset your password</h3>

      <form method="post" action="">
            {% csrf_token %}
            <div class="mail">
                <input type="email" class="email" placeholder="Email Address" name="email" required />
                <button class="send">get otp</button>
            </div>

            <div class="verification">
                <input type="text" class="otp" placeholder="Enter your OTP" name="otp" required
                    disabled />
                <button id="verify" disabled>Verify</button>
            </div>

            <input type="password" class="password1" placeholder="Enter your password" name="password" required
                disabled />
            <input type="password" class="password2" placeholder="Confirm password" name="Confirm password" required
                disabled />
            <button type="submit" class="reset" disabled>Reset Password</button>
        </form>
    </div>

    <script src="{% static 'forgetPassword.js' %}?v=2"></script>
  </body>
</html>
